.header {
  background: linear-gradient(to bottom, #0f8aef, #90caf9);
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.user-info-container {
  display: flex;
}
.user-name {
  margin-right: 10px;
}
